
  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :analysis %><br>
    <%= f.text_area :analysis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<script>
  <%= raw('window.english_phrases = ' + @translation.english_phrases.to_json) %>
  <%= raw('window.tokipona_phrases = ' + @translation.document.phrases.to_json) %>
</script>