<h1><%= @document.title %></h1>

<p>
  jan <%= @document.user.username %> li pali e ni.
  <br>
  <small>by <%= @document.user.username %></small>
</p

<% if @document.source %>
  <p>
  <% if @document.url %>
    <%= link_to @document.source, @document.url %>
  <% else %>
    <%= @document.source %>
  <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>

<div id="root"></div>

<script>
(function() {
  var doc = new Tokipona.Document({
    tokipona_sentences: <%= raw @document.analysis %>,
    tokipona_phrases: <%= raw @document.phrases.to_json %>,
    english_phrases: <%= raw @document.english_phrases.to_json %>
  })
  doc.mount(document.getElementById('root'));
})()
</script>