<!DOCTYPE html>
<html>
<head>
  <title>lipu pi toki pona - Read and Learn Toki Pona</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav>	
			<% if user_signed_in? %>
				<span>jan <%= current_user.username.capitalize %> o, toki!</span>
				<span><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></span>
			<% else %>
				<span><%= link_to 'Log in', new_user_session_path %></span>
				<span><%= link_to 'Sign up', new_user_registration_path %></span>
			<% end %>
		</nav>
	</header>

	<% unless flash.empty? %>
		<section class="flash">
		<% flash.each do |key, msg| %>
			<p class="<%= key %>"><%= msg %></p>
		<% end %>
		</section>
	<% end %>

	<div class="main-wrapper">
		<%= yield %>		
	</div>

<footer>
Toki Pona &copy; Sonja Lang. Site made by <a href="http://justinreally.codes">Justin Silvestre</a>.
</footer>

</body>
</html>
